@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

a, a:hover{
    text-decoration: none;
    color: #fff;
}

ul{
    list-style: none;

}

li{
    display: inline-block;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(./img/bg.jpg);
    


}

.header .nav-bar{
    width: 90%;
    height: 80px;
    margin: auto;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;

}

.header .nav-bar .logo{
    margin-left: 50px;
}

.header .nav-bar .logo a{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;

}

.header .nav-bar .logo span{
    font-size: 35px;
    color: #d43242;
    margin-left: 5px;
}

.header .nav-bar .menu ul li{
    margin-right: 30px;
}

.header .nav-bar .menu ul li a{
    font-size: 19px;
    letter-spacing: 2px;
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
    transition: all 0.5s;
    opacity: 0.6;
}

.header .nav-bar .menu ul li a.active{
    opacity: 1;
}

.header .nav-bar .menu ul li span{
    position: absolute;
    top: 0;
    color: #d43242;
    font-size: 75px;
}

.header .nav-bar .menu ul li a:hover{
    opacity: 1;
}

.header .nav-bar .social-media i{
    width: 45px;
    height: 45px;
    line-height: 45px;
    margin-right: 5px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    font-size: 19px;
    background-color: #cac5c542;
    transition: all 0.3s ease-in-out;
}

.header .nav-bar .social-media i:hover{
    background-color: #d43242;
}
.container {
    max-width: 600px;
    width: 100%;
    top: 200px;
    margin: 0 auto;
    position: relative;  
     
  }
  
  #contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea, #contact button[type=submit] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
    border-radius: .25em; 
  }
  
  #contact {
    background-color: #50516d;
    padding: 25px;
    margin: 50px 0;
  
  }
  
  #contact h3 {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 30px;
    font-weight: 400;
  }
  
  #contact h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: lighter;
    color: white;
  }
  
  fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
     
  }
  
  #contact input[type=text], #contact input[type=email], #contact input[type=tel], #contact input[type=url], #contact textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #DCDCDC;
    margin: 0 0 5px;
    padding: 10px;
  }
  
  #contact input[type=text]:hover, #contact input[type=email]:hover, #contact input[type=tel]:hover, #contact input[type=url]:hover, #contact textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #AAA;
  }
  
  #contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }
  
  #contact button[type=submit] {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: #26284e;
    color: rgb(255, 255, 255);
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }
  
  #contact button[type=submit]:hover {
    background: rgb(0, 0, 0); 
    /* -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out; */
    /* transition: background-color 0.3s ease-in-out; */
  }
  
  #contact button[type=submit]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }

  .hero .information{
    width: 100%;
    display: flex;
    margin-top: 300px;
}

.hero .information .me{
    margin-right: 50px;
    line-height: 3px;
}
.hero .information .me h2{
    font-size: 20px;
    letter-spacing: 1px;
}

.hero .information .me p{
    padding-right: 0;
    margin-top: 150px;
    letter-spacing: 1px;
}
